<h1>{{title}}</h1>
<h2>by {{author.name}}</h2>
<small class="muted">({{format-date date}})</small>
<hr/>

<div class="intro">
    {{format-markdown excerpt}}
</div>

<div class="below-the-fold">
    {{format-markdown body}}
</div>

